@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap');

body {
  display: flex;
  flex-direction: column;
  background-color: #191765;
  margin-left: auto;
  margin-right: auto;
  background-image: url(./images/left.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: 1%;
  max-width: 100vw;
}

* {
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #191765;
  z-index: 14;
}

.container {
  padding: 15px;
  margin-left: 15px;
}

#logo {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.03em;
}

.nav-toggle {
  position: absolute;
  top: 1rem;
  right: 20px;
  cursor: pointer;
}

.mobile-nav-hidden {
  display: block;
  height: 0;
  overflow: hidden;
}

.header {
  padding-left: 5px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: visible;
  width: 100%;
  background: #191765;
  background-image: url(./images/mobile-menu-left.png), url(./images/mobile-menu-right.png);
  background-repeat: no-repeat;
  background-position: left 40%, right 100%;
  background-size: 45% 60%, 40% 60%;
  z-index: 10;
}

.hidden {
  display: none;
  position: absolute;
  top: 62px;
  right: 38px;
}

.open {
  display: block;
  cursor: pointer;
}

.mobile-nav-menu li {
  padding: 18px 0;
}

.mobile-nav-menu {
  margin-top: 25%;
}

.mobile-li {
  display: flex;
  justify-content: space-between;
  margin: auto 55px;
  align-items: center;
}

.mobile-nav-menu .mobile-nav {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  align-items: center;
  color: #edecff;
}

.desktop {
  display: none;
}

#greeting {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #7d73fc;
}

.introduction {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #edecff;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #c8c8d4;
  margin: 0 30px 0 30px;
}

.divider1 {
  position: absolute;
  height: 0;
  left: 20px;
  right: 20px;
  top: 450px;
  border: 1px solid #646369;
}

.about {
  display: flex;
  position: relative;
  top: 60px;
  flex-wrap: wrap;
  text-align: left;
  width: 100%;
}

h4 {
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.03em;
  color: #9490ff;
}

#frame {
  width: 41%;
  margin-top: 15px;
  background-image: url(./images/right.png);
  background-repeat: no-repeat;
  background-position-x: right;
}

#lang {
  width: 50%;
  margin: 15px 0 0 30px;
}

#skill {
  margin: 0 0 0 30px;
}

.headline-headers {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #9490ff;
}

.language-items li {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  color: #f5f5ff;
}

.framework-items li {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  color: #f5f5ff;
}

.skill-items li {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  color: #f5f5ff;
}

.divider2 {
  position: absolute;
  height: 0;
  left: 20px;
  right: 20px;
  top: 890px;
  border: 1px solid #646369;
}

.social-handle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  position: relative;
  top: 110px;
  gap: 1rem;
  margin: 30px 25px;
}

#m-button {
  text-align: center;
  position: relative;
  top: 90px;
}

.button {
  display: none;
  position: absolute;
}

.button .interaction:hover {
  background-color: #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.button .interaction:focus {
  background-color: #5e42d7;
}

.header-image {
  background: #edecff;
  filter: blur(50px);
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 25% 25% 25%;
}

.heading {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #9490ff;
  margin: 170px 30px 75px 10px;
  padding: 23px;
}

.divider-work {
  position: absolute;
  height: 0;
  left: 20px;
  right: 20px;
  top: 1210px;
  border: 1px solid #646369;
}

.col-1 > img {
  width: 85%;
  margin: 5px 30px 5px 30px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  margin-left: 30px;
  display: flex;
  color: #fff;
}

.supporting-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #dcdce8;
  margin: 0 30px 0 30px;
}

.lang-box {
  display: flex;
  flex-direction: row;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  margin: 20px 35px 20px 30px;
  justify-content: space-between;
}

.lang-box li {
  border-right: 1px solid #555;
  padding: 10px 20px;
}

.lang-box .border-check {
  border-right: 0;
}

.work-button > button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #edecff;
  background: #7d73fc;
  padding: 12px;
  margin: 10px 0 15px 30px;
  border: 0;
}

.work-button > button:hover {
  background: #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.work-button > button:focus {
  background: #5e42d7;
}

.work-1 {
  background-image: url(./images/left1.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: 80px;
}

.work-2 {
  background-image: url(./images/right1.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 150px;
}

.work-3 {
  background-image: url(./images/left2.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: 220px;
}

.work-4 {
  background-image: url(./images/right2.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 220px;
}

.contact-section {
  padding: 0 30px;
}

.contact-description {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  color: #9390ff;
  margin-top: 80px;
  margin-bottom: 0;
}

.contact-description p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f5f5ff;
}

.contact-description h2 {
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 500;
}

.contact-description h3 {
  display: none;
}

.contact-form textarea {
  height: 148px;
}

.form-input {
  width: 100%;
  height: 48px;
  margin: 12px 0;
  font-family: 'Inter', sans-serif;
  padding: 10px;
}

.button-container {
  margin-top: 40px;
  margin-bottom: 71px;
}

.form-button {
  width: fit-content;
  height: fit-content;
  padding: 12px;
  background: #7d73fc;
  border: 1px solid #7d73fc;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: white;
  font-weight: 500;
  position: relative;
  left: 32%;
}

.form-button:hover {
  background: #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.form-button:focus {
  background: #5e42d7;
}

.social-handle-footer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: relative;
  gap: 1rem;
  margin: 0 0 11px 0;
  padding-top: 25px;
  border-top: 1px #3a3837 solid;
}

.contact-email {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin: 0 0 40px 0;
}

.error {
  color: red;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

/* Modal Pop-up */

.modal {
  display: none;
  position: fixed;
  top: 63px;
  left: 0;
  width: 97%;
  height: 100%;
  overflow: auto;
  background: #191765;
  border: 1px solid #aaa;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  margin-left: 5px;
}

.modal-content {
  margin: 0% auto;
  padding: 15px;
  width: 100%;
}

.someHeader {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.desktopModal {
  display: none;
}

.mobileModal {
  width: 100%;
  height: 100%;
}

.someText {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.devLanguages li {
  padding: 10px 15px;
  display: table-cell;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  border-left: 1px solid #555;
}

.modalButtons {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 48px;
  gap: 5px;
}

.modalButtons div {
  background: #7d73fc;
  align-content: center;
  border: 0;
  margin-left: 90px;
}

.modalButtons div a {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  text-decoration: none;
  align-content: center;
  font-family: 'Roboto', sans-serif;
  padding: 8px;
}

.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: normal;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Desktop version */

@media only screen and (min-width: 768px) {
  body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: auto;
    background-image: url(./images/leftcircle.png), url(./images/rightcircle.png);
    background-repeat: no-repeat;
    background-position: 0% 3%, 100% 11%;
  }

  header {
    display: flex;
    justify-content: center;
    position: static;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #191765;
    z-index: 14;
  }

  .container > div {
    animation-duration: 2s;
    animation-name: logo-turn;
  }

  @keyframes logo-turn {
    from {
      transform: rotateY(90deg);
      opacity: 0;
    }

    to {
      transform: rotateY(0deg);
      opacity: 1;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 20px;
    width: 85%;
    margin: 0 auto;
  }

  .nav-toggle {
    display: none;
  }

  .desktop {
    display: block;
    width: 15rem;
    margin-bottom: 0;
    overflow: visible;
    height: 25px;
  }

  .nav-menu {
    display: flex;
    position: static;
    margin: 0;
  }

  .nav-menu .desktop-nav {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    position: relative;
  }

  .mail {
    display: inline-block;
  }

  .mobile-nav-hidden {
    display: none;
  }

  /* nav-menu animations */

  .nav-menu a::after {
    content: '';
    position: absolute;
    background: #9391ff;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -5px;
    transform: scale(0, 1);
    transition: 0.5s;
  }

  .nav-menu .mail:hover::after {
    transform: scale(0, 1);
  }

  .nav-menu a:hover::after {
    transform: scale(1, 1);
  }

  .nav-menu li {
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
  }

  .headline {
    margin: 15px 90px;
  }

  .headline > h1 {
    animation-duration: 1.5s;
    animation-name: r-slidein;
  }

  @keyframes r-slidein {
    from {
      margin-left: 500px;
      margin-right: -500px;
      opacity: 0;
    }

    to {
      margin-left: 0;
      margin-right: 0;
      opacity: 1;
    }
  }

  .text {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #b3bac5;
  }

  .width-reduction .text {
    animation-duration: 1.5s;
    animation-name: slideup;
  }

  @keyframes slideup {
    from {
      margin-top: 100px;
      margin-bottom: -100px;
      margin-right: 50px;
      margin-left: 10px;
      opacity: 0;
    }

    20% {
      opacity: 0;
    }

    to {
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 30px;
      margin-left: 30px;
      opacity: 1;
    }
  }

  #greeting {
    font-weight: 700;
    font-size: 90px;
    line-height: 105px;
    text-align: center;
    color: #9391ff;
    margin-bottom: 5px;
  }

  .introduction {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #dfe1e6;
  }

  .about-headline {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 120px 50px 170px;
    padding: 20px;
    width: 65%;
  }

  .width-reduction {
    width: 90%;
  }

  .divider1,
  .divider2 {
    position: static;
    margin: 60px 0 20px 30px;
    padding-right: 10px;
    height: 0;
    width: 100%;
    border: 1px solid #646369;
  }

  .about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: static;
    margin-left: 10px;
  }

  h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    align-items: center;
    color: #9390ff;
  }

  .about > * {
    flex: 1;
    margin-top: 10px;
  }

  #frame {
    background-image: none;
  }

  #skill {
    margin-left: 0;
    margin-top: 15px;
  }

  .headline-headers {
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #9490ff;
  }

  .language-items li {
    color: #fff;
    font-weight: 400;
    font-size: 13.1389px;
    line-height: 25px;
  }

  .framework-items li {
    font-weight: 400;
    color: #fff;
    font-size: 14.1935px;
    line-height: 28px;
  }

  .skill-items li {
    color: #fff;
    font-weight: 400;
    font-size: 14.6667px;
    line-height: 28px;
  }

  .social-container > * {
    position: static;
  }

  .social-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .social-handle {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .button {
    position: static;
    display: block;
  }

  #m-button {
    position: static;
  }

  .divider-work {
    position: static;
    margin: -85px 0 100px -2px;
    padding-right: 10px;
    height: 0;
    width: 100%;
    border: 1px solid #646369;
  }

  .heading {
    font-weight: 700;
    font-size: 64px;
    line-height: 114px;
    color: #9390ff;
  }

  .works {
    width: 100%;
    background-image: url(./images/desktop1.png), url(./images/desktop2.png), url(./images/desktop3.png), url(./images/desktop4.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position-x: left, right, left, right;
    background-position-y: 18%, 50%, 80%, 102%;
  }

  .work-width-constrict {
    padding: 15px 90px;
  }

  .work {
    display: flex;
    align-items: center;
  }

  .col-1 {
    flex: 3;
  }

  .col-1 img {
    width: 90%;
    height: 427px;
    transition: 1s;
  }

  /* work-section animations */

  .col-1 img:hover {
    width: 95%;
  }

  .col-2 {
    flex: 2;
  }

  .title {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
  }

  .supporting-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #dfe1e6;
  }

  .lang-box {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .work:nth-child(even) {
    flex-direction: row-reverse;
  }

  .grid-container {
    grid-gap: 88px;
  }

  .grid-container > div {
    background-image: none;
  }

  .contact-section {
    display: flex;
    justify-content: center;
    margin-top: 150px;
  }

  .contact-description .mobile {
    display: none;
  }

  .contact-description .deskt {
    font-weight: 700;
    font-size: 40px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    display: block;
  }

  .contact-width {
    width: 50%;
  }

  .form-button {
    left: 37%;
  }

  footer {
    display: flex;
    justify-content: center;
    border-top: 1px #3a3837 solid;
    padding-top: 10px;
  }

  .social-handle-footer {
    padding: 0 20px;
    width: 240px;
    border-top: none;
  }

  /* Modal Content/Box */
  .modal {
    display: none;
    position: fixed;
    width: 98%;
    height: 100%;
    overflow: auto;
    background: #191765;
    border: 1px solid #aaa;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    margin-left: 10px;
  }

  .modal-content {
    margin: 5% auto;
    padding: 20px;
    width: 95%;
  }

  .someHeader {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 32px;
    color: #fff;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
  }

  .desktopModal {
    display: block;
    width: 100%;
    height: 100%;
  }

  .mobileModal {
    display: none;
  }

  .someText {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #fff;
  }

  .devLanguages li {
    padding: 10px 15px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    border-left: 1px solid #555;
  }

  .modalButtons {
    display: inline-block;
    margin-left: 390px;
  }
}
