@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap');

body {
  display: flex;
  flex-direction: column;
  background-color: #191765;
  margin: auto;
  background-image: url(./images/left.png);
  background-repeat: no-repeat;
  background-position-x: left;
}

* {
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

#logo {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.03em;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  position: relative;
  bottom: 40px;
  margin-top: 40px;
}

header {
  height: 50px;
}

#greeting {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #7d73fc;
}

.introduction {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #edecff;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #c8c8d4;
  margin: 0 30px 0 30px;
}

.divider > span {
  position: absolute;
  height: 0;
  left: 20px;
  right: 20px;
  top: 475px;
  border: 1px solid #646369;
}

.about {
  display: flex;
  position: relative;
  top: 60px;
  flex-wrap: wrap;
  text-align: left;
  width: 100%;
}

#frame {
  width: 42%;
  margin-top: 15px;
  background-image: url(./images/right.png);
  background-repeat: no-repeat;
  background-position-x: right;
}

#lang {
  width: 50%;
  margin: 15px 0 0 30px;
}

#skill {
  margin: 0 0 0 30px;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #9490ff;
}

.language-items {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  color: #f5f5ff;
}

.framework-items {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  color: #f5f5ff;
}

.skill-items {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  color: #f5f5ff;
}

.divider2 > span {
  position: absolute;
  height: 0;
  left: 20px;
  right: 20px;
  top: 920px;
  border: 1px solid #646369;
}

.social-handle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  position: relative;
  top: 110px;
  gap: 1rem;
  margin: 30px 25px;
}

.button {
  text-align: center;
  position: relative;
  top: 90px;
}

.button .interaction:hover {
  background-color: #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.button .interaction:focus {
  background-color: #5e42d7;
}

.header-image {
  background: #edecff;
  filter: blur(50px);
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 25% 25% 25%;
}

.heading {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #9490ff;
  margin: 170px 30px 75px 30px;
}

.divider3 > span {
  position: absolute;
  height: 0;
  left: 20px;
  right: 20px;
  top: 1245px;
  border: 1px solid #646369;
}

.work-1 > img {
  width: 85%;
  margin: 5px 30px 5px 30px;
}

.work-2 > img {
  width: 85%;
  margin: 5px 30px 5px 30px;
}

.work-3 > img {
  width: 85%;
  margin: 5px 30px 5px 30px;
}

.work-4 > img {
  width: 85%;
  margin: 5px 30px 5px 30px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  margin-left: 30px;
  display: flex;
  color: #fff;
}

.supporting-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #dcdce8;
  margin: 0 30px 0 30px;
}

.lang-box {
  display: flex;
  flex-direction: row;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  margin: 20px 35px 20px 30px;
  justify-content: space-between;
}

.lang-box li {
  border-right: 1px solid #555;
  padding: 10px 20px;
}

.lang-box .border-check {
  border-right: 0;
}

.work-button > button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #edecff;
  background: #7d73fc;
  padding: 12px;
  margin: 10px 0 15px 30px;
  border: 0;
}

.work-button > button:hover {
  background: #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.work-button > button:focus {
  background: #5e42d7;
}

.work-1 {
  background-image: url(./images/left1.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: 80px;
}

.work-2 {
  background-image: url(./images/right1.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 150px;
}

.work-3 {
  background-image: url(./images/left2.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: 220px;
}

.work-4 {
  background-image: url(./images/right2.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 220px;
}

.contact-section {
  padding: 0px 30px;
}

.contact-description {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  color: #9390FF;
  margin-top: 80px;
  margin-bottom: 0px;
}

.contact-description p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #F5F5FF;
}

.contact-description h1 {
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: 500;
}

.contact-form textarea {
  height: 148px;
}

.form-input {
  width: 100%;
  height: 48px;
  margin: 12px 0px;
  font-family: 'Inter', sans-serif;
  padding: 10px;
}

.button-container {
  margin-top: 40px;
  margin-bottom: 71px;
}

.form-button {
  width: fit-content;
  height: fit-content;
  padding: 12px;
  background: #7d73fc;
  border: 1px solid #7d73fc;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: white;
  font-weight: 500;
  position: relative;
  left: 37%;
}

.form-button:hover {
  background: #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.form-button:focus {
  background: #5e42d7;
}
